{{diagnostic}}
<div class="form-group">
    <form #heroForm="ngForm">

    <label for="Name">Name </label> <br>
    <input type="text" #name="ngModel" class="form-control ng-unthouched ng-pristine ng-valid" 
    id="name" required [(ngModel)]="model.name" name="name"> 
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
    </div>   <br> 

    <label for="AlterEgo">AlterEgo</label> <br> 
    <input type="text"  class="form-control" id="alterEgo" name="AlterEgo"
    [(ngModel)]="model.alterEgo"> <br> <br>

    <label for="power">Hero Power</label>
    <select class="form-control" id="power" required
    [(ngModel)]="model.power" name="power">
        <option *ngFor= "let pow of powers" [value]="pow">{{pow}}</option>
    </select>
    </form>
</div>